[submodule "blog/wp-content/themes/theme-skeleton"]
	path = blog/wp-content/themes/theme-skeleton
	url = git://github.com/kennethreitz/wordpress-theme-skeleton.git
[submodule "blog/wp-content/plugins/wp-coreylib"]
	path = blog/wp-content/plugins/wp-coreylib
	url = git://github.com/kennethreitz/wp-coreylib.git
[submodule "blog/wp-content/plugins/wp-clippy-syntax"]
	path = blog/wp-content/plugins/wp-clippy-syntax
	url = git://github.com/kennethreitz/wp-clippy-syntax.git
[submodule "blog/wp-content/plugins/wp-disable-updates"]
	path = blog/wp-content/plugins/wp-disable-updates
	url = git://github.com/kennethreitz/wp-disable-updates.git
[submodule "blog/wp-content/plugins/wp-async-google-analytics"]
	path = blog/wp-content/plugins/wp-async-google-analytics
	url = git://github.com/kennethreitz/wp-async-google-analytics.git
[submodule "blog/wp-content/plugins/wp-s3"]
	path = blog/wp-content/plugins/wp-s3
	url = git://github.com/kennethreitz/wp-s3.git
[submodule "blog/wp-content/themes/wp-console"]
	path = blog/wp-content/themes/wp-console
	url = http://github.com/sant0sk1/wordpress-console.git
